.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

html {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

.block {
    box-sizing: content-box;
}

:root {
    font-size: 10px;
}

// color style

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

// Text style

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 130%;
}

h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    white-space: nowrap;
}

h5 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
}

@mixin paragraph-l {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
}

@mixin paragraph-s {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 150%;
}

@mixin logo_title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 113%;
    letter-spacing: 0.06em;
}

@mixin logo_subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    padding-left: 0.4rem;
    padding-top: 1rem;
}

@mixin donation_description {
    font-family: Arial;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: left;
}
.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0rem 4rem;
}

//Header---------------------------------------------------

.header_container {
    margin-bottom: 6rem;
}

.header_wrapper {
    padding-top: 6rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.logo_container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.logo__title {
    @include logo_title;
    color: $color-dark-l;
}

.logo__subtitle {
    @include logo_subtitle;
    color: $color-dark-3xl;
}

.navigation {
    display: flex;
    flex-basis: 44.3rem;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3rem;
    a {
        white-space: nowrap;
        color: $color-dark-l;
        &:hover{
            color: $color-dark-s;
        }
    }
}

.navigation__link {
    @include paragraph-l;
    color: $color-dark-l;
    &:nth-child(2) a {
        display: flex;
        color: $color-dark-3xl;
        border-bottom: 4px solid $color-primary;
        padding-top: 0.1rem;
    }
}
//Header end---------------------------------------------------