$base-violet-color: #bb86fc;
$gary-background: #262626;
$dark-gray-background: #1e1e1e;
$light-gray-background: #373737;
$violet_background: #403d46;
$dark-violet-background: #29262f;
$light-gray: #ababab;
$main-text-color: #a0a0a0;
$secondary-text-color: #777777;
$black: #000000;
$white: #ffffff;
$red: #ff0000;
