.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.block {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

:root {
  font-size: 10px;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  white-space: nowrap;
}

h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0rem 4.0rem;
}

.button {
  padding: 17px 46px;
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  color: #292929;
  background-color: #f1cdb3;
  font-size: 1.7rem;
  letter-spacing: 0.096rem;
  border-radius: 10rem;
  border: none;
}

.top__wrapper {
  background: url(/assets/image/start-screen-background.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header_container {
  margin-bottom: 6rem;
}

.header_wrapper {
  padding-top: 6rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6.0rem;
}

.logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 113%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.logo__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  padding-left: 0.4rem;
  padding-top: 1rem;
  color: #ffffff;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 44.3rem;
      flex-basis: 44.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.3rem;
}

.navigation a {
  white-space: nowrap;
  color: #cdcdcd;
}

.navigation__link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: white;
}

.navigation__link:nth-child(1) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fafafa;
  border-bottom: 4px solid #f1cdb3;
  padding-top: 0.1rem;
}

.main__wrapper {
  margin-bottom: 8rem;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  width: 46rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 16.4rem;
  padding-bottom: 8rem;
  margin-right: 4.2rem;
}

.content__title {
  color: #ffffff;
  width: 31rem;
}

.content__subtitle {
  padding-top: 9%;
  padding-bottom: 8.9%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #cdcdcd;
}

.puppy {
  width: 69.8rem;
}

.puppy img {
  width: 100%;
  display: block;
}

.about__wrapper {
  padding-bottom: 10rem;
}

.about__container {
  width: 85rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__pets img {
  display: block;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 43rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  padding: 1.4rem 0;
}

.about__text .about__heading {
  max-width: 31rem;
}

.about__text .about__title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
}

.pets {
  text-align: center;
  padding-top: 8.1rem;
  margin-bottom: 10rem;
}

.pets__heading {
  margin-bottom: -0.2rem;
}

.card {
  width: 99rem;
  height: 55.5rem;
  padding: 6.1rem 0;
}

.card__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__img {
  padding-bottom: 3rem;
}

.card__text {
  color: #4c4c4c;
  font-family: Georgia;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-align: center;
}

.card__button {
  margin-top: 3.1rem;
  padding: 14px 43px;
  border: 2px solid #f1cdb3;
  background-color: #fff;
}

.arrow {
  padding-top: 10rem;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  padding: 16px 15px;
  background-color: #fff;
}

.arrow_reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pets__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.help {
  text-align: center;
  padding-top: 8rem;
}

.help__card {
  width: 120rem;
  margin: 0 auto;
  padding: 6rem 8.7rem 10rem 8.7rem;
}

.helpcard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (min-content)[5];
      grid-template-columns: repeat(5, -webkit-min-content);
      grid-template-columns: repeat(5, min-content);
  grid-column-gap: 12rem;
}

.helpcard__text {
  padding-top: 2.9rem;
}

.helpcard__elem {
  text-align: center;
}

.helpcard__2col {
  padding: 5.4rem 8.4rem 0rem 8.4rem;
}

.donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7.9rem 0rem 9.8rem 0rem;
}

.donation__pets {
  padding: 1.2rem 3rem 1.1rem 14.2rem;
}

.donation__text {
  max-width: 38rem;
  padding-top: 0.1rem;
}

.donation__title {
  padding-top: 0.1rem;
}

.donation__subtitle {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.donation__phone {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: none;
  color: #545454;
  background-color: #f1cdb3;
  padding-bottom: 0.8rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.donation__number {
  display: inline-block;
  padding-left: 1.3rem;
  vertical-align: top;
}

.donation__description {
  font-family: Arial;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: left;
}

.footer {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer h3 {
  color: #fff;
}

.footer__contacts {
  padding-top: 1.7rem;
  max-width: 27.9rem;
}

.footer__email {
  padding-top: 4.4rem;
  padding-left: 6rem;
  position: relative;
}

.footer__email a {
  color: #f1cdb3;
}

.footer__email::after {
  content: url("/assets/icons/mail.svg");
}

.footer__tel {
  padding-top: 4.9rem;
  padding-left: 6rem;
}

.footer__tel a {
  color: #f1cdb3;
}

.footer__addres1 {
  padding-left: 4.2rem;
  padding-top: 3.4rem;
}

.footer__addres1 a {
  color: #f1cdb3;
}

.footer__addres2 {
  padding-left: 4.2rem;
  padding-top: 3.6rem;
}

.footer__addres2 a {
  color: #f1cdb3;
}

.footer__map {
  padding-top: 1.7rem;
  max-width: 30.2rem;
}

.footer_bg {
  background: url(/assets/image/footer-background.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
/*# sourceMappingURL=main.css.map */