@import 'roboto.css'; 
*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  
}

.hello {
  font-size: 2rem;
}

.field {
  margin: 0 auto;  
  max-width: 97vw;
  position: relative;
  width: 404px;
  height: 404px;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 10px;
}

.element {
  background-color: darksalmon;
  display: flex;
  border: solid 1px #000;
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 40px;  
  transition: all 0.2s;
  cursor: pointer;
}

.element:hover {
  background-color: rgba(233, 150, 122, 0.274);
}




