@import 'roboto.css'; 
*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  
}

.hello {
  font-size: 2rem;
}

.field {
  margin: 0 auto;
  max-width: 94vw;
  position: relative;
  width: 93vw;
  height: 93vw;
  max-width: 404px;
  max-height: 404px;
  border: 2px solid #000;
  border-radius: 10px;
}

.ReStart, .Save, .Load{
  margin: 10px;
  border-radius: 10px;
  transition: all 1s;
}

.ReStart{
  display: flex;
  justify-content: center;
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
  font-size: 40px;
}

.element {
  background-color: darksalmon;
  display: flex;
  border: solid 1px #000;
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 40px;  
  transition: all 0.2s;
  cursor: pointer;
}

.element:hover {
  background-color: rgba(233, 150, 122, 0.274);
}

.empty {
  color: white;
  background-color: white;
  border: none;
  cursor: default;
}

.empty:hover {
  background-color: white;
}



